// 44-2.2 处理前台类目组件样式
// 44-2.2.1 从CategoryPannel.vue中抽离出前台类目组件样式，放在styles/CategoryPannel.scss中
.category {
  margin: 20rpx 0 0;
  padding: 10rpx 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 328rpx;
  background-color: #fff5f8;
  justify-content: center;
  .category-item {
    min-height: 170rpx;
    width: 150rpx;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    .icon {
      width: 100rpx;
      height: 100rpx;
      // border-radius: 14rpx;
      // background-color: #fff0f5;
      // padding: 10rpx;
      display: block; /* 网页端强制图片独占一行，核心修复 */
      margin-bottom: 8rpx; /* 图标和文字上下间距，区分垂直布局 */
    }
    .text {
      width: 100rpx;
      font-size: 26rpx;
      color: #333;
      // margin-top: 8rpx;
      text-align: center;
    }
  }
}
